<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
   <soap:Body>
     <GetWeatherReport xmlns="http://www.webserviceX.NET">
        <ZipCode>$xipCode</ZipCode>
     </GetWeatherReport>
   </soap:Body>
</soap:Envelope>
