<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

   <filter> 
       <filter-name>requestContextFilter</filter-name> 
       <filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
   </filter>
   
     
   <servlet>
	   <servlet-name>booking</servlet-name>
	   <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	   <init-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>/WEB-INF/classes/conf/booking-servlet.xml</param-value>
	   </init-param>
	   <load-on-startup>1</load-on-startup>
   </servlet>
   
   <!-- gwt-log config -->
   <servlet>
     <servlet-name>gwt-log-remote-logger-servlet</servlet-name>
     <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
   </servlet>  
     
     
   <servlet-mapping>
	  <servlet-name>booking</servlet-name>
	  <url-pattern>/en-US/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
	  <servlet-name>booking</servlet-name>
	  <url-pattern>/en-us/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
	  <servlet-name>booking</servlet-name>
	  <url-pattern>/es-ES/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
	  <servlet-name>booking</servlet-name>
	  <url-pattern>/es-es/*</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
	  <servlet-name>booking</servlet-name>
	  <url-pattern>/zh-CN/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
	  <servlet-name>booking</servlet-name>
	  <url-pattern>/zh-cn/*</url-pattern>
   </servlet-mapping>
   
   
   <!--  jboss does not like */*.rpc, so use *.rpc -->
   <servlet-mapping>
    <servlet-name>booking</servlet-name>
    <url-pattern>*.rpc</url-pattern>
   </servlet-mapping>
    
  <servlet-mapping>
    <servlet-name>gwt-log-remote-logger-servlet</servlet-name>
    <url-pattern>/gwt-log</url-pattern>
  </servlet-mapping>
     
   <display-name>Booking hotel Web Application</display-name>
   <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
   </welcome-file-list>
   
</web-app>
