<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean
		class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />
	<bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter" />

	<!-- ========================= IMPORTS ============================== -->

	<!-- ========================= BEAN DEFINITIONS ============================== -->
	<!-- bean lookup service -->


	<!-- ========================= VALIDATOR ========================= -->

	<!-- ========================= INTERCEPTOR ========================= -->

	<!-- ========================= RESOURCE BUNDLE DEFINITIONS ========================= -->


	<!-- ========================= POPULATOR ========================= -->

	<!-- ======================= MULTIPART RESOLVER======================= -->

	<!-- ========================= CONTROLLER DEFINITIONS ========================= -->

	<!-- INTERNAL USAGE: -->


	<!-- Declare a view resolver -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/jsp/" p:suffix=".jsp" />

 

</beans>