<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />
	<bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter" />

	<!-- ========================= IMPORTS ============================== -->
	<!-- model bean -->
	<import resource="classpath:conf/domainService.xml" />

	<!-- dao bean -->
	<import resource="classpath:conf/daoService.xml" />
 
	<!-- ========================= BEAN DEFINITIONS ============================== -->
	<!-- bean lookup service -->
	<bean class="com.gogwt.apps.tracking.utils.BeanLookupService" />


	<!-- ========================= VALIDATOR ========================= -->
	<bean name="name=validator/EnrollCustomerValidator" class="com.gogwt.apps.tracking.controllers.validation.EnrollCustomerValidator" />
	<bean name="name=validator/LoginValidator" class="com.gogwt.apps.tracking.controllers.validation.LoginFormValidator" />
    <bean name="name=validator/ImportValidator" class="com.gogwt.apps.tracking.controllers.validation.ImportValidator" />


	<!-- ========================= INTERCEPTOR ========================= -->
	<bean name="name=interceptor/config/URLHandlerInterceptor"
		class="com.gogwt.apps.tracking.config.interceptor.URLHandlerInterceptor">
	</bean>
	<bean name="name=interceptor/config/CheckLoginInterceptor"
		class="com.gogwt.apps.tracking.config.interceptor.CheckLoginInterceptor">
	</bean>

	<!-- ========================= INTERNAL RESOURCE RESOLVER ========================= -->
	<!-- <bean name="localeResolver" class="com.gogwt.app.booking.config.resolver.BookLocaleResolver"> 
		<property name="defaultLocale"><value>en_US</value></property> </bean> -->

	<!-- ========================= RESOURCE BUNDLE DEFINITIONS ========================= -->
	<bean name="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
			   <value>com.gogwt.apps.tracking.resources.i18n.view.LabelResources</value>
			   <value>com.gogwt.apps.tracking.resources.i18n.error.ErrorResources</value>
			   <value>com.gogwt.apps.tracking.resources.i18n.misc.MiscResources</value>
			</list>
		</property>
	</bean>

	<!-- ========================= POPULATOR ========================= -->

    <!-- ======================= MULTIPART RESOLVER======================= -->
    <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
        
	<!-- ========================= CONTROLLER DEFINITIONS ========================= -->
	<!-- HomeController" -->
	<bean name="name=controller/tracking/HomeController"
		class="com.gogwt.apps.tracking.controllers.HomePageController" />

    <!-- LoginController -->
    <bean name="name=controller/LoginController" class="com.gogwt.apps.tracking.controllers.LoginController">
      <property name="commandName"><value>loginFormBean</value></property>
      <property name="validator"><ref bean="name=validator/LoginValidator"/></property>
      <property name="formView"><value>/customer/login</value></property>
      <property name="successView"><value>showactiveattracks</value></property>          
    </bean>
   
   	<bean name="name=controller/tracking/LogoutController"
		class="com.gogwt.apps.tracking.controllers.LogoutController" />
     
	<!-- EnrollCustomerController -->
	<bean name="name=controller/EnrollCustomerController"
		class="com.gogwt.apps.tracking.controllers.EnrollCustomerController">
		<property name="commandName"><value>enrollCustomerFormBean</value></property>
		<property name="validator"><ref bean="name=validator/EnrollCustomerValidator" /></property>
		<property name="formView"><value>/customer/enroll</value></property>
		<property name="successView"><value>showactiveattracks</value></property>
	</bean>
	
	<bean name="name=controller/AddLocationController"
		class="com.gogwt.apps.tracking.controllers.AddLocationController">
		<property name="commandName"><value>gLocation</value></property>
		<property name="formView"><value>/tracking/add_location</value></property>		 
	</bean>
	
	<!-- EnrollCustomerSuccessController -->
	<bean name="name=controller/EnrollCustomerSuccessController"
		class="com.gogwt.apps.tracking.controllers.EnrollCustomerSuccessController" />

	<!-- ShowTrackController -->
	<bean name="name=controller/ShowActiveTracksController"
		class="com.gogwt.apps.tracking.controllers.ShowActiveTracksController" />

	<!-- Retrieve records for the last number of days -->
	<bean name="name=controller/RetrieveTrackHistoryController"
		class="com.gogwt.apps.tracking.controllers.RetrieveTrackHistoryController" />

	<bean name="name=controller/TrackDetailController"
		class="com.gogwt.apps.tracking.controllers.TrackDetailController" />
 
	<bean name="name=controller/TrackDeleteController"
		class="com.gogwt.apps.tracking.controllers.TrackDeleteController">
		<property name="successView"><value>retrievetracks</value></property>
	</bean>
 
   <!--  Error page -->
   <bean name="name=controller/ErrorController"
		class="com.gogwt.apps.tracking.controllers.ErrorController" />
		
   <!--  Export page -->
   <bean name="name=controller/ExportController"
		class="com.gogwt.apps.tracking.controllers.ExportController" >
		<property name="successView"><value>retrievetracks</value></property>
   </bean>	
	
   <!--  Import  -->	
   <bean name="name=controller/ImportController"
		class="com.gogwt.apps.tracking.controllers.ImportController" >
		<property name="commandName"><value>uploadFormBean</value></property>
		<property name="validator"><ref bean="name=validator/ImportValidator" /></property>
		<property name="formView"><value>/tracking/file_upload</value></property>
		<property name="successView"><value>trackdetail</value></property>
   </bean>	
		 
		
 
	<!-- ========================= URL MAPPING ========================= -->
	<bean name="urlMappingPart1"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="name=interceptor/config/URLHandlerInterceptor" />
			</list>
		</property>
		<property name="mappings">
			<props>
				<prop key="/**/home/**/">name=controller/tracking/HomeController</prop>
				<prop key="/**/enroll/**/">name=controller/EnrollCustomerController</prop>				
				<prop key="/**/login/**/">name=controller/LoginController</prop>
				<prop key="/**/error/**/">name=controller/ErrorController</prop>										
			</props>
		</property>
	</bean>
	
	<!--  the actions which need login -->
	<bean name="urlMappingPart2"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="name=interceptor/config/URLHandlerInterceptor" />
				<ref bean="name=interceptor/config/CheckLoginInterceptor" />				
			</list>
		</property>
		<property name="mappings">
			<props>
				<prop key="/**/enrollsuccess/**/">name=controller/EnrollCustomerSuccessController</prop>
				<prop key="/**/logout/**/">name=controller/tracking/LogoutController</prop>
				<prop key="/**/showactiveattracks/**/">name=controller/ShowActiveTracksController</prop>	
				<prop key="/**/retrievetracks/**/">name=controller/RetrieveTrackHistoryController</prop>
				<prop key="/**/disptracks/**/">name=controller/EnrollCustomerSuccessController</prop>	
				<prop key="/**/addlocation/**/">name=controller/AddLocationController</prop>
				<prop key="/**/trackdetail/**/">name=controller/TrackDetailController</prop>
				<prop key="/**/trackdelete/**/">name=controller/TrackDeleteController</prop>
				<prop key="/**/export/**/">name=controller/ExportController</prop>
				<prop key="/**/importtrack/**/">name=controller/ImportController</prop>
										
			</props>
		</property>
	</bean>

    <!--  INTERNAL USAGE:  -->
	<bean name="urlMappingPart3"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="name=interceptor/config/URLHandlerInterceptor" />
				<ref bean="name=interceptor/config/CheckLoginInterceptor" />				
			</list>
		</property>
		<property name="mappings">
			<props>
			 	<prop key="/**/addlocation/**/">name=controller/AddLocationController</prop>			 										
			</props>
		</property>
	</bean>

	<!-- Declare a view resolver -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/jsp/" p:suffix=".jsp" />

</beans>