<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.gogwt.apps.tracking"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />

    <application android:icon="@drawable/global_gwt" android:label="@string/app_name">
        <uses-library android:name="com.google.android.maps" />
        <!-- .MainActivity -->
        <activity android:name=".GoGWTrackingMainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MyTestConfigActivity" />
        <activity android:name=".activities.MainMenuActivity" />      
        <activity android:name=".activities.LocationTrackingActivity" />
         
        <service android:enabled="true" android:name=".services.GPXService">
			<intent-filter>
				<action android:name="com.gogwt.apps.tracking.services.GPXService.SERVICE" />				 
			</intent-filter>
		</service>
 
    </application>
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
</manifest>