<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    
    <filter> 
       <filter-name>requestContextFilter</filter-name> 
       <filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
    </filter>
  
    <servlet>
	<servlet-name>myapp</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<init-param>
	   <param-name>contextConfigLocation</param-name>
	   <param-value>/WEB-INF/classes/conf/myapp-servlet.xml</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
    </servlet>
	
    <servlet>
        <servlet-name>Event Manager</servlet-name>
        <servlet-class>org.hibernate.tutorial.web.EventManagerServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

   <servlet>
	<servlet-name>proxyServlet</servlet-name>
	<servlet-class>com.gwtview.servlet.ProxyServlet</servlet-class>
	<init-param>
	   <param-name>proxyPath</param-name>
	   <param-value>/web-spring/proxy</param-value>
	</init-param>
	<init-param>
	   <param-name>proxyPort</param-name>
	   <param-value>8080</param-value>
	</init-param>
	   
	<load-on-startup>3</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Event Manager</servlet-name>
        <url-pattern>/eventmanager</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
      <servlet-name>myapp</servlet-name>
      <url-pattern>*.rpc</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
	<servlet-name>myapp</servlet-name>
	<url-pattern>/en/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
       <servlet-name>myapp</servlet-name>
       <url-pattern>/zh/*</url-pattern>
    </servlet-mapping>
    
      <servlet-mapping>
       <servlet-name>proxyServlet</servlet-name>
       <url-pattern>/proxy/*</url-pattern>
    </servlet-mapping>
  

  
</web-app>